* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

body {
  width: 100vw;
  height: 100vh;
}

.wrapper {
  width: 90%;
  margin: 0 auto;
}

.header {
  display: flex;
  padding: 1rem 0rem;
}

.title {
  font-size: 2.5rem;
}

.accordion {
  width: 100%;
}

.item {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.item__input {
  display: none;
}

.label__input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 0rem;

  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  border-bottom: 0.05rem solid rgba(0, 0, 0, 0.5);
}

.item__icon {
  display: block;
  width: 2rem;
  height: 2rem;
  background-size: 2rem 2rem;
  background-image: url("../icons/cross.png");
  transform: rotate(45deg);
}

.item__content {
  width: 100%;
  text-align: center;
}

.label__img {
  display: block;
  width: 100%;
  transition: all 0.3s;
}

.img-memo {
  width: 0%;
  transform: rotate(90deg);
}

.item__input:checked ~ .item__content .label__img .img-memo {
  width: 70%;
  transform: rotate(0deg);
  transition: all 0.3s;
}

.item__input:checked ~ .label__input .item__icon {
  transform: rotate(0deg);
  transition: all 0.3s;
}

.item__input:checked ~ .label__input {
  border-bottom: none;
}

.item__input:checked ~ .item__content {
  border-bottom: 0.05rem solid rgba(0, 0, 0, 0.5);
}

.item:active .label__input {
  color: rgb(47, 155, 240, 1);
}
.item:active .label__input .item__icon {
  background-image: url(../icons/blue_cross.png);
}
