* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
}

.wrapper {
  width: 95%;
  margin: 0 auto;
}

.header {
  text-align: center;
}

.title {
  font-size: 2.5rem;
}
